[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "BioNERO"]
	path = BioNERO
	url = https://github.com/almeidasilvaf/bionero
	shallow = true
	registered = true
[submodule "cageminer"]
	path = cageminer
	url = https://github.com/almeidasilvaf/cageminer
	shallow = true
	registered = true
[submodule "cogeqc"]
	path = cogeqc
	url = https://github.com/almeidasilvaf/cogeqc
	shallow = true
	registered = true
[submodule "doubletrouble"]
	path = doubletrouble
	url = https://github.com/almeidasilvaf/doubletrouble
	shallow = true
	registered = true
[submodule "magrene"]
	path = magrene
	url = https://github.com/almeidasilvaf/magrene
	shallow = true
	registered = true
[submodule "planttfhunter"]
	path = planttfhunter
	url = https://github.com/almeidasilvaf/planttfhunter
	shallow = true
	registered = true
[submodule "syntenet"]
	path = syntenet
	url = https://github.com/almeidasilvaf/syntenet
	shallow = true
	registered = true
